.container {
    text-align: center;
}

.container-items {
    display: flex;
    justify-content: center;
}

.item {
    margin: 0 10px; 
}

.quote-content,
.quote2-content {
  width: 48%; /* Adjust the width as needed */
box-sizing: border-box;
/* display: inline-block; */
/* vertical-align: top; */
}

.quote-content {
position: relative;
max-width: 400px; 
max-height: 40%;
margin: 20px; 
background-color: hsl(0, 15%, 5%);
border-radius: 15px;
padding: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
transition: background-color 0.3s ease;
overflow: hidden;

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 50% 50%, rgba(238, 130, 238, 1) 0%, rgba(3, 127, 143, 1) 50%, rgba(255, 255, 0, 1) 100%);

    
} 
.quote2-content {
    position: relative;
    max-width: 400px; 
    max-height: 50%;
    margin: 20px; 
    background-color: hsl(0, 15%, 5%);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
    overflow: hidden;
    
        /* global 92%+ browsers support */
        background: radial-gradient(circle at 50% 50%, rgba(238, 130, 238, 1) 0%, rgba(3, 127, 143, 1) 50%, rgba(255, 255, 0, 1) 100%);
    }  