.container {
    display: flex;
    
    padding: 10px;
    /* border: 2px solid rgb(18, 179, 85);
    border-radius: 8px; */
    height: 100vh;
    /* background-color: grey; */
    /* overflow: hidden; 
    background: linear-gradient(45deg, #ff00ff, #00ffff);
    animation: backgroundAnimation 5s infinite alternate; */
}

/* @keyframes backgroundAnimation {
    from {
        background: linear-gradient(45deg, #0dd190, #00ffffd2);
    }
    to {
        background: linear-gradient(45deg, #0dd190, #00ffffd2);
    }
} */

#text {
    font-size: 16px;
    flex: 1;

}

#text strong {
    font-size: 32px;
    font-style: italic;
    padding: 4px;
    color: white;
}

#button {
    margin-top: 20px; /* Add some margin to the top of the button for spacing */
    padding: 10px 20px;
    background-color: antiquewhite;
    border-radius: 8px;
}

button:hover {
    color: seagreen;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .text-container {
    justify-content: center;
    align-content: center;
    
  }

  .text-container p {
  padding: 10px;
  margin: auto;
  
  }