
#Navbar {

  border-radius: 8px;
    box-shadow: 0 0 10px rgba(22, 133, 224, 0.747);
    font-size: larger;
    text-align: center;
    margin: auto;
    position: relative; 
    overflow: hidden; 
    border: 2px solid transparent; 
  /* animation: lightRotation 10s linear infinite;  */

}

.sub a {
  

  text-decoration: none;
  color: #f5f0f0f1; 
  position: relative; 
  overflow: hidden; 
  border: 5px solid black;
  animation: lightRotation 4s linear infinite; 

}

@keyframes lightRotation {
  0% {
    border-color: red blue green purple; /* Initial position */
  }
  25% {
    border-color: red blue purple #0ee21f; /* Move to the right */
  }
  50% {
    border-color: red #0ee21f blue purple; /* Move to the bottom */
  }
  75% {
    border-color: #0ee21f red blue purple; /* Move to the left */
  }
  100% {
    border-color: red blue #0ee21f purple; /* Move to the top */
  }
}
