#Navbar {
  color: #fff; 
  border-radius: 8px;
  box-shadow: 0 4px 8px #3e3f3ffd; 
  font-size: larger;
  text-align: center;
  padding: 5px; 
  margin: auto;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  transition: background-color 0.3s ease; 
}

#Navbar p {
  font-size: 2em; 
  font-weight: bold; 
  color: #fcfbfbfb; 
  margin-bottom: 10px;
  animation: glow 1.5s ease-in-out infinite;
}

#INFJ {
  border: 2px solid black;
  /* background: linear-gradient(45deg, #3498db, #2ecc71);  */
  color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

.navbar-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}


.sub a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f5f0f0f1;
  position: relative;
  overflow: hidden;
  border: 0px solid black;
  border-radius: 5px; 
  padding: 5px 10px; 
  transition: background-color 0.3s ease; 
  animation: glow 1.5s ease-in-out infinite;
} 

.sub a:hover {
  background-color: #333; 
  color: #a5a3a375; 
} 


@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
} 

.menu-icon {
margin-right: 20px;
  cursor: pointer;
}



.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #f5f5f5;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}